/* Our CSS file. */


#container{
width: 100%;
height: 100%;
background-color:lightblue;
padding:30px;
padding-top: 100px;
}
.card{
    display:flex;
}
.card section{
    width:50%;
}
.image{
    background:lightgreen;
    text-align:center;
    padding-bottom: 50px;
}
img:hover{
    transform : scale(1.3);
}
section{
    
    margin:10px 0;
}
#card1{
    margin:0 0 50px 0;
}
a{
    text-decoration: none;
    color:white;
    background:lightgreen;
    border:8px solid lightgreen;
    padding:5px 10px;
    cursor: pointer;
    border-radius: 40px;
}
.section-2{
    text-align:center;
    background:white;
    padding:20px 50px;
}
h1{
    font-size: 50px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    padding:30px;
}
